//Import de toutes les feuilles SCSS partielles dédiées.
//Cette seule feuille est chargée par Drupal
//Gulp va compiler les fichiers scss en un seul fichier css

// Importer les fichiers scss partiels (avec _) afin de compiler le
// fichier css final utile pour le thème
// Utiliser Gulp 
// webmaster@vm-server1:~$ cd /var/www/drupal6/sites/all/themes/THEMENAMEFOLDER/
// webmaster@vm-server1:/var/www/drupal6/sites/all/themes/THEMENAMEFOLDER/ $ gulp

//http://www.zell-weekeat.com/susy2-tutorial/


/*---- VERSIONS ----
--- 2018.02.01 ---

sass-3.4.13
susy-3.0.0
breakpoint-2.7.1-
- voir le Gemfile pour les versions utilisées
---------------------*/

//Reset des propriétés : via node-normalize-scss (npm))
@import "normalize";

// Import de Compass (framework abandonné en 2016)
//voir mixins_custom pour les remplacements des mixins Compass

/// !!! EDITER LE FICHIER GULPFILE.JS POUR DEFINIR LES CHEMINS DES GEMS et NPM !!!

//Import des plugins de Sass (sans compass) via des Gems
@import '../node_modules/susy/sass/susy'; // utiliser par défaut Susy 3 - import OK

//Debug de la grille Susy3
@import '../node_modules/susy/sass/plugins/svg-grid';


//@import "sassy-buttons";
@import "breakpoint";

//Remplacement de Vertical Rhythm par Typey (Composant de node-sass) Gestion de la typographie
@import '../node_modules/typey/stylesheets/_typey.scss';

// Import des réglages susy pour la grille
@import "./global/_variables.scss";

// Import des styles et polices Provence Formation
@import "./global/_flex.scss";
@import "./global/_mixins-custom.scss";
@import "./global/_typos.scss";
@import "./global/_style.scss";
@import "./global/_menu-fullpage.scss";
@import "./global/_stacktable.scss";
/*@import "./global/_sub-nav.scss";*/

// Import des partiels du layout du thème Drupal

@import "./layout/_layout.scss";
@import "./layout/_layout-nodes.scss";
/*@import "./layout/_layout-nodes-flexbox.scss";*/
@import "./layout/_layout-header.scss";
@import "./layout/_layout-footer.scss";
/*@import "./layout/_layout-defilant.scss";*/
@import "./layout/_layout-bandeau.scss";
@import "./layout/_layout-off-canvas-susy.scss";

// Les BREAKPOINTS
        
/*@import "./layout/_layout-bp-tablet.scss";*/
@import "./layout/_layout-bp-desktop.scss";
//@import "./layout/layout-bp-mobile-landscape.scss";

//Import Homepage - choisir quel layout et style utiliser
@import "./layout/_layout-frontpage.scss";



//developpement

@import "./layout/_layout-debug-colour.scss";

// Les styles pour l' UI Drupal
@import "./ui/_maintenance.scss";
@import "./ui/_search.scss";
@import "./ui/_style-backoffice.scss";
//@import "./ui/_volet-coulissant-css";

// Les styles pour chaque type de contenu (templates))

@import "./content-type-style/_frontpage-style.scss";


// Import des partiels pour le style des node.tpl
//@import "./content-type-style/node-TYPE";
@import "./content-type-style/_views.scss";

@import "./content-type-style/_contenu-actu-presse-asso.scss";
@import "./content-type-style/_page-lycee.scss";
@import "./content-type-style/_contenu-association.scss";
@import "./content-type-style/_contenu-bourses.scss";
@import "./content-type-style/_page-bts.scss";
@import "./content-type-style/_contenu-entreprise.scss";
@import "./content-type-style/_page-espace.scss";
/*@import "./content-type-style/_contenu-vdl.scss";*/
/*@import "./content-type-style/_page-pole.scss";*/
/*@import "./content-type-style/_page-vdl-liste.scss";*/
/*@import "./content-type-style/_node-vdl-global.scss";*/
/*@import "./content-type-style/_page-actualites.scss";*/
/*@import "./content-type-style/_contenu-actualite.scss";*/
/*@import "./content-type-style/_contenu-vdl.scss";*/
/*@import "./content-type-style/_contenu-cdi.scss";*/
/*@import "./content-type-style/_webform-contact.scss";*/
@import "./content-type-style/_fiche-formation.scss";
@import "./content-type-style/_fiche-bts.scss";
@import "./content-type-style/_webform.scss";
/*@import "./content-type-style/_calendrier.scss";*/
/*@import "./content-type-style/_page-archives.scss";*/
/*@import "./content-type-style/_page-erreur.scss";*/

//Content type site 

/*@import "./content-type-style/_fiche-formation-pf.scss";*/


//Galeries slideshow views
@import "./galeries/_baguettebox-vignette-zoom.scss";
/*@import "./galeries/_views-slideshow.scss";*/
@import "./galeries/_bxslider-cyrano.scss";
/*@import "./galeries/_flexslider-cyrano.scss";*/
/*@import "./galeries/_views-masonry.scss";*/
/*@import "./galeries/_views-mur-image-susy.scss";*/
/*@import "./galeries/_views-wookmark.scss";*/
/*@import "./galeries/_views-salvattore.scss";*/
/*@import "./galeries/_views-mur-image-fullcss.scss";*/
/*@import "./galeries/_slick.scss";*/