/*
2018 - Layout DESKTOP
Layout pour les desktop.Breakpoint définit par variable dans _variables.scss
*/
body .conteneur{
    
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
    
        padding-top: 0em;  
        //mixin container n'existe plus avec susy3, tout se fait avec span
        
        //@debug susy3
        background: susy-svg-grid() no-repeat scroll;
        #header{
            //voir _layout-header.scss


        }
        .content-global{

                     
        }
        .content-inner{

            .content-header{}
        }
        .content-top{
            min-height: 5em;//permet d'éviter que defilant se superpose
            
               /*@include break;*/
                &:before{
                content: " ";
                display: block;
                clear: both;
            }
        }
        .middle-content{

        }
        .node-inner{  
        }                       
        .content-bottom{}
        .content-bottom-home{

                &:before{
                content: " ";
                display: block;
                clear: both;
            }
        }


        #left-content{}
        #right-content{}
        #footer{

            @include background-size();
            &:before{
                content: " ";
                display: block;
                clear: both;
            }
            p{
               //Voir fichier typos.scss pour taille
            }
        }

    }

}
/*********************************
----------------------------------
---- RESEAUX SOCIAUX Service links
---------------------------------*/
.service-links{
    background: none repeat scroll 0 0 $orange-fonce;
    padding: span(0.002);
    z-index: 10;
    @include arrondis (em(5px));
    @include clearfixsusy3;
    @include PIE;
    
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
    
    
/*       
  right: 0;
  bottom: 90%;
  left: 50%;
    
    text-align: center;
        transform: translate(790%, 100%);*/
    /* top: 10%; */
    width: 5vw;
    height: 10vw;
      position: relative;
         left: 90%; 
    
    //@include squish(0.5,0.5); //Ajoute un margin avant et aprés l'element pour le centrer
    
    

    a{
        margin: 0 em(5px);
        color: $orange-fonce;
        &:hover{
            text-decoration: none;
        }

    }
    iframe, span, div,button,
    .twitter-share-button,.fb_iframe_widget,#___plusone_0,.IN-widget
    {
        padding: 0;
        vertical-align: super;
        margin: 0 auto;
    }
    iframe{
        height: em(20px);
        @include clearfix;
        width: auto;
    }
    
    ul{
          //@include push(0.5);Ajoute un margin avant l'element >> devient margin-left: susy-span(3 wide);
          /*margin-left: susy-span(2 wide);*/
        li{
            
        }
    }
    .fb_iframe_widget{
       
    }
    .twitter-share-button,.fb_iframe_widget,#___plusone_0,.IN-widget{
        
    }
    }
}