/*-------------------------------------|
|       HEADER DU SITE                 |
|--------------------------------------*/

// Layout du header et de ses parties haute et basse (logique mobile first)
 //Imbrication à 100% (full nested)
 body .conteneur #header {
     z-index : 30;
     width: span(10 of $desktopcol);
     margin-left: span(1 wide);//push
     &:after{
                content: " ";
                display: block;
                clear: both;}  
     .headHaut {
                @include clearfixsusy3;//Dispo sur tous supports
         .logoHead {
             padding: 4em 0 1em 0;
                    img{
                    margin: 0 auto;
                    //display: block;//commenter si logo pas collé à gauche
                    max-height: 5em;//si logo trop gros
                    object-fit: contain;
                    }
         }
         .menuImg {
             background: white;
         }
     }
     .headBas {
                  @include clearfixsusy3;//Dispo sur tous supports
        .site-slogan,.objectif{
            padding: em(5px) 0 0 0 //Ajoute un padding pour positionner boite
        }
         .headSearch{
          padding: em(5px) 0 0 0 //Ajoute un padding pour positionner boite de recherche
          
         }
        nav.menuOver{}  
     }                
     
     
               
     @include breakpoint($desktop) {/*    //Dimensions pour les pc*/
          //@include clearfix;
         .headHaut {
                      width: span( 12 of $desktopcol);       
            
             .logoHead { 
                /*width: span(first 2 of $desktopcol);*/
                width: span( 3 of $desktopcol);       
                float: left;
                padding: 0;
             }
                   nav.menuOver{
                width: span( 3 of $desktopcol);       
                float: right;
         
             } 
            
         }
         .headBas {
            width: span( 12 of $desktopcol);       
            
             .site-slogan,.objectif{width: span(8 of $desktopcol ); float: left;  margin-left: gutter(of 6);    }
             .headSearch{width: span( 3 of $desktopcol );float: right; margin-right: gutter(of 6);        }
       

         }
     }
     @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
         .headHaut {
             .logoHead {}
             .menuImg {}
         }
         .headBas {
             .site-slogan,.objectif{width: span( 4 of $tabletcol);}
             .headSearch{width: span( 4 of $tabletcol );}
             
         }
          nav.menuOver{
           
             aside.menuDyn{
               
             }
         }
     }
   
 }
/*---- HEADER HAUT ----*/
 


.logoHead {
   img {
    @include adaptable-img;
    padding: 0;
    margin: 0;
  }
}


/*---- HEADER BAS ----*/

.headBas {
 background: $gris-anthracite;//Modifier la couleur du fond de la partie basse selon couleur du lycée
}

.headSearch {
    
    padding: 0 0.5em;
    text-align: right;
    margin: 0;
    //background: transparent url("../images/'bg_recherche.gif') no-repeat scroll 6em em(7px);
    /*.form-item > label{color: #DDD;font-family: $AristaFont;font-size: medium;}*/
    input[type=image]{
        vertical-align: middle;
    }
    @include breakpoint($desktop){
        padding: 0;
    }
}



.name-and-slogan {
  vertical-align: bottom;
}

.site-name {
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  padding: em(160px) 0 0 0;
  margin: 0;
}

.site-slogan,.objectif {
  color: white;
  font-size: small;
  text-align: center;
  
  
  @include breakpoint($desktop){
      text-align: left;
      padding: em(3px) 0 0 1em;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

/*FIN CSS HEADER*/
/*****************/