/*
Défini les layouts possibles pour les node.tpl custom
Ne s'applique que si présence d'un node-TYPE.tpl.php
*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

/*//////////////// 1 COLONNE PLEINE LARGEUR \\\\\\\\\\\\\\\\*/
body .conteneur{
    .col1_layout_max{

        @include clearfixsusy3;
        @include breakpoint ($mobile){
            /*@include break;*/
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(12 of $desktopcol);
            &:after{
                content: " ";
                display: block;
                clear: both;

            } 
        }
    }

}
/*////////////// BLOCS IMBRIQUéS DANS BLOC PLEINE LARGEUR \\\\\\\\\*/
body .conteneur{
    display:grid;
    .content-top{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(10 of $desktopcol);
            margin: 0 auto;
        }
    }
    .middle-content{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            /*width: span(12 of $desktopcol);*/
        }
    }
    .node-inner,#zone-centrale-node{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){


        }
    }
    #zone-illustration{
        display: list-item;
        margin: span(2) 0 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(12 of $desktopcol);
            display: inherit;
        margin: 0;
            /*@include clearfixsusy3;*/

        }
    }
    .col1_layout_9_3{
        
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(9 of $desktopcol);
            float:left;
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        
            
        }
    }
    .col2_layout_9_3{
@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

            width: span(3 of $desktopcol);
            float:left;
        }
    }
    .acces_rubriques{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            @include clearfix;
            display: grid;
        }
    }

    .acces-contact
    {        
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
/*                 @include clearfix;
                 display: grid;*/
             }
    }
}