/*
Défini les layouts possibles pour les node.tpl custom
Ne s'applique que si présence d'un node-TYPE.tpl.php
*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

/*//////////////// 1 COLONNE PLEINE LARGEUR \\\\\\\\\\\\\\\\*/
body .conteneur{
    .zone_layout_max{

        @include clearfixsusy3;
        @include breakpoint ($mobile){
            /*@include break;*/
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(12 of $desktopcol);
            &:after{
                content: " ";
                display: block;
                clear: both;

            } 
        }
    }
    .zone_layout_max_centre{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
         width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
        @include clearfix;
        }
    }
}
/*////////////// BLOCS IMBRIQUéS DANS BLOC PLEINE LARGEUR \\\\\\\\\*/
/*---  LAYOUT CONTENU ACTU ---*/
body .conteneur{
    display:grid;
    .content-top{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(10 of $desktopcol);
            margin: 0 auto;
        }
    }
    .middle-content{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            /*width: span(12 of $desktopcol);*/
        }
    }
    .node-inner,#zone-centrale-node{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){


        }
    }
    #zone-illustration{
        display: list-item;
        margin: span(2) 0 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(12 of $desktopcol);
            display: inherit;
        margin: 0;
            /*@include clearfixsusy3;*/

        }
    }
    .zone1_layout_9_3{
        
        @include breakpoint(($desktop)){
            width: span(9 of $desktopcol);
            float:left;
            
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        
            
        }
    }
    .zone2_layout_9_3{
@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

            width: span(3 of $desktopcol);
            float:left;
        }
    }
    .acces_rubriques{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            @include clearfix;
            display: grid;
        }
    }

    .acces-contact
    {        
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
/*                 @include clearfix;
                 display: grid;*/
             }
    }
}

/*---  2 ZONES INEGALES - PAGES LYCEES ---*/
body .conteneur{
    display: grid;
        #zone-diaporama{
/*        display: list-item;
        margin: span(2) 0 0;*/
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
/*            width: span(12 of $desktopcol);
            display: inherit;
        margin: 0;*/
            /*@include clearfixsusy3;*/

        }
    }
    .zone1_layout_3_7{
             @include breakpoint(($desktop)){
            width: span(3 of $desktopcol);
            float:left;
            margin-left: span(1 wide);//push
        }
    }
    .zone2_layout_3_7{
              @include breakpoint(($desktop)){
            width: span(7 of $desktopcol);
            float:left;
             @include clearfixsusy3;
        }
    }
    .zone1_layout_7_5{
             @include breakpoint(($desktop)){
            width: span(7 of $desktopcol);
            float:left;
        }
    }
    .zone2_layout_7_5{
             @include breakpoint(($desktop)){
            width: span(5 of $desktopcol);
            float:left;
        }
    }
    
}