
/*-------------------------------------|
|     PAGE ACCUEIL                         |
|      PLEINE LARGEUR                    |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}


/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/

// #############################
// Layout avec body.conteneur
// #############################


//Code imbriqué à 100%
body section.conteneur{
    //inutile de définir taille
    iframe,img:not(.close-btn){
        @include adaptable-img;
        @include img-centered;
    }
    .annonce_1{
               @include clearfixsusy3;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
        }
    }
    .annonce_2{
                @include clearfixsusy3;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
        }
    }
    .HPDiapo{
        @include clearfixsusy3;

    }
    .acces_rubriques{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
        }
        @include clearfixsusy3;
    }
    .logo_partenaires{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        width: span(10 of $desktopcol);
        margin-left: span(1 wide);//push
        }
    }
}
// #############################
// Layout avec body.conteneur-flex
// #############################
