/*
Déplacement de div particulier.
Quand la réorganisation via susy ne suffit pas
*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** DEPLACEMENT DE DIV SUR MOBILE *****
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

body .conteneur {
    $off-canvas-width:  span(2 of $mobilecol);
    $off-canvas-left: 70%;

    .transformer {
        @include trans-prep;
        transition: transform 0.3s ease;
        &.is-open {
            transform: translate3d($off-canvas-left, 0, 0);
        }
    }
    .off-canvas {
        position: absolute;
        width: $off-canvas-width;
        left: -$off-canvas-left;
        top: 1em;//position de départ
        bottom: 0;
        height: auto;//limite la hauteur du bloc
        margin-left: span(1 wide);//push;
    }
    .close{
        background: $orange-fonce;//changer couleur selon le site !!!
    }
    img.close-btn{
        vertical-align: middle;
        cursor: pointer;
        zoom: 1.5;
        margin: 0;
    }
    .menu-toggle, .transformer.is-open > .menu-toggle{
        position: absolute;
        padding: 0 gutter();
        /*Coins arrondis*/
        border-radius: 0 0 em(8px) em(8px);
        background: #555;
        color: #fff;
        text-decoration: none;
        padding: 0.3em;
        top: 0;//vertical 4em
        left: 20%; //vertical -4em- position onglet sur mobile

        /* quelques styles CSS3 270deg pour vertical gauche ; 0deg */
/*        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);*/
        transform: rotate(0deg);
    }
    @include breakpoint ($desktop){
        $off-canvas-height: 7.8em;   
        $off-canvas-top: 10.3em;   
        
        .transformer {

            transition: transform 0.3s ease;
            &.is-open {
                transform: translate3d(0, 10em, 0);
            }
        }
        .off-canvas{
            width: span(10 of $desktopcol);
            position: absolute;
            left: 0;
            top: -$off-canvas-top;//position de départ
            bottom: 0;
            height: $off-canvas-height;//limite la hauteur du bloc
            @include arrondis;
            background: $orange-fonce;//changer couleur selon le site !!!
        }

        .menu-toggle,.transformer.is-open > .menu-toggle{
            position: relative;
            padding: 0.3em;
            left: 40%;

            /* CSS3 : pour IE, fixer rotation */
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        .menu-toggle{
            top: 0;//position de l'onglet fermé
        }
        .transformer.is-open > .menu-toggle{
            top: em(-37px);//position de l'onglet ouvert
        }
    }
}