/*
Override du style de galerie vignettes BaguetteBox
*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}


aside.galerie .galerieBaguetteBox .view-content
{
    > div{
               width: span(1 of 3);
                margin: span(0.0001);
                float: left;
            @include breakpoint(($desktop,$tablet)){
                width: span(1 of 6);
                              
            }
    }
    img{
        
        @include cadre-ombre(0.3em,white,$gris-anthracite);
    }
}