/*
Override du style de galerie vignettes BaguetteBox
*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

//définir ici les types de contenus qui appliqueront ce style & layout
// Vignettes carrées à la suite
.actu-presse,.contenu-international
{
    aside.galerie .galerieBaguetteBox .view-content
{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
     column-count: 6;
                column-fill: balance; 
    }
    > div.views-row{
        /*Technique des colonnes plus efficace et passe sous Edge*/
               /*width: span(1 of 3);*/
                /*margin: span(0.0001);*/
                /*float: left;*/
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                
                @include txt-colonnes;
                              
            }
    }
    img{
        
        @include cadre-ombre(0.3em,white,$gris-anthracite);
    }

}
}

//définir ici les types de contenus qui appliqueront ce style & layout
//Galerie Asymétrique
.fiche-bts
{
        aside.galerie .galerieBaguetteBox .view-content
{
    > div{
/*               width: span(1 of 3);
                margin: span(0.0001);
                float: left;*/
            @include breakpoint(($desktop,$tablet)){
                /*width: span(1 of 6);*/
                              
            }
    }
    img{
        transform: scale(1);
        @include cadre-ombre(0.3em,white,$gris-anthracite);
    }
    a.asymetrique-gd{
        img{
            transform: scale(1);
        }
    }

}
}