/*
Override du style de galerie Bxslider
*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

body .conteneur{

.bx-wrapper .bx-controls-direction a{
    z-index: 888;//pour écraser valeur donnée par défaut de 9999
    
}
.galerie-vdl {
    .bx-wrapper{
    margin: 0 auto;
    width: 95%;
    a{
      
    }
    li{
        padding: 0;
    }
    .bx-viewport{
        height: auto;
    }
    .bx-pager{
        margin: 0 0.1em;
    }
}
}

.HPDiapo{
    .bx-wrapper{
        margin:0;
        .bx-viewport {
        box-shadow: none;
    border: none;
        background: none;
        max-height: 30em;
        }
        .bx-caption{
            position: fixed;
            bottom: 0;
            left: span(0.2);
            width: 80%;
            //couleur fond des captions
            @include rgba-background($orange-fonce, 0.85);
            margin: 0 auto;
            span{
                 color: white;
                padding: em(5px);
                font-family: $AristaFont;
                line-height: 1.3em;
                font-size: x-large;
            }
        }
    }
    ul.bxslider-hp{
        li,img{
            margin: 0;
        }
        
    }
}

#illustration-pleinepage.diapo-lycee{
    .bx-wrapper{
            border: 0;
            margin:0;
           .bx-viewport{
            background: 0;
            border: 0;
            max-width: 100%;
            box-shadow:none;
            max-height: 30em;
            img{
                margin: 0;
                padding: 0;
                /*transform: scale(0.85);*/
            }
            li{
                position: relative !important;
                margin: 0;
                padding: 0;
                max-width: 100%;
            }
        }
    }
}
}