/*
Mise en place / forme des items du mur d'images
Indiquer les classes ou les IDs des enveloppes des galeries
*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*
<ul id="wookmark"> 			
	<li style="height: 206px;"><img src= /><p>text</p></li>
	<li style="height: 256px;"><img src= /><p>text</p></li>
	<li style="height: 216px;"><img src= /><p>text</p></li>
	<li style="height: 276px;"><img src= /><p>text</p></li> 
	. . .
</ul>
*/
.masonry {
    //@include container;
/*@include span($mobilecol);
       
        @include clearfix;
        @include breakpoint ($tablet){
            @include span(8 of $tabletcol);
            
        }
        @include breakpoint ($desktop){
           @include span(12 of $desktopcol);
            @include gutters(.3em);Toujours en dernier pour override de la taille des gouttieres
        }
        //Pour orientation paysage
         @include breakpoint ($tabletlandscape){
           @include span(3 of $tabletcol-landcsape);
            
        }*/
}
.masonry--gutter {
  width: gutter();
}
.masonry--column {
  width: span(2); 
}
.masonry--item {
   
  width: span(2);
  margin-top: gutter();
}

/*--------------------
|  MISE EN FORME|
|  DES ITEMS         |
|  DE LA VUE        |
---------------------*/
/*Changer l'ID selon les besoins, en général la #colonne-2 doit convenir*/
#colonne-1,#colonne-2{
    .wookmark{
        ul li{
            list-style: none;
        }
        .tooltip-vdl{}
/*style du terme de taxonomie selon son ID
Vocabulaire: Type d'évènement
Action: 3
 Activité sportive : 24
 Formation interne: 9
 Foyer des élèves: 12
Intervenant: 6	 
Projet : 7 
Revue de presse : 5
Sortie : 8*/

span{
    &.vdl-tag{
        font-size: xx-small;
        padding: em(3px);
        color: $gris-clair;
        position: absolute;
        margin: 0 em(3px);
    }
    &.titre-vdl{
        a{
            color: $violet;
            &::first-letter,&:first-letter{
                text-transform: capitalize;
            }
        }
        &::first-letter,&:first-letter{
                text-transform: capitalize;
            }
    }
    &.vdl-3{background: $vert;}
    &.vdl-5{background: $violet;}
    &.vdl-6{background: $violet;}
    &.vdl-7{background: $bleu-turquoise;}
    &.vdl-8{background: $violet;}
    &.vdl-9{background: $rouge;}
    &.vdl-12{background: $gris-anthracite;}
    &.vdl-24{background: $violet;}
}
div.img-vdl{
    img{
             }
        a{
            &:hover{
            background: transparent;
        }   
    }
}
    }
    

}
