// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|         FICHE FORMATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.fiche-formation{order:1;}
    #zone-2.fiche-formation{order:2;}
    #zone-3.fiche-formation{order:3;}
    #zone-4.fiche-formation{}
    #zone-5.fiche-formation{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-1.fiche-formation{
    .complement-titre-fiche{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(4);
            margin: span(0.02) auto;   
        }
    }
    .content{
        column-count: inherit;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            column-rule: em(2px) dashed $gris-anthracite;
            h3{
                @include txt-colonnes;
            }
        }
    }
}
#zone-3.fiche-formation{
    article.paragraphe-section-europe{
        column-count: inherit;
        margin: span(0.2) 0;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: nowrap;   
            h3{
                @include txt-colonnes;
            }
        }
    }
    aside.ficheform-savoirplus,aside.lycees-possibles{
        margin: span(0.01) auto;
        padding: span(0.01);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(5);
            
        }
    }
    aside.lycees-possibles{
        ul{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                 column-count: 2;
            column-fill: balance;
            }
        }    
        
    }
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.fiche-formation,
#zone-2.fiche-formation,
#zone-3.fiche-formation,
#zone-4.fiche-formation,
#zone-5.fiche-formation
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $orange-fonce;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.fiche-formation{
    .complement-titre-fiche{


        max-width: fit-content;
        *{
            background: $gris-anthracite;
            color: $jaune;
            font-weight: bold;
            padding: span(0.02);    
            margin: span(0.01) 0;
            @include font-size(m);//utilisation de typey
        }
    }
    .content{
         h3{
        transform: rotate(-1deg);
        max-width: fit-content;

        color: $blanc-casse;
        background: $orange-fonce;
        padding: em(3px);
        margin: em(5px) em(20px);

    }
    }
    aside.ficheform-savoirplus{}
}
#zone-2.fiche-formation{}
#zone-3.fiche-formation{
    h3{
        transform: rotate(-1deg);
        max-width: fit-content;

        color: $jaune;
        background: $gris-anthracite;
        padding: em(3px);
        margin: em(5px) em(20px);

    }
    ul{
        padding: 0;
        margin:0;
        li{
            list-style: square;
        }
    }
    h2.lien-section-europe{
        
        margin: span(0.01) auto;
        padding:0;
        *{
             @include font-size(l);//utilisation de typey
            color: $bleu-turquoise;
            background: $blanc-casse;
            position: relative;
            padding: span(0.01);
            
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            display: block;
            margin: 0 auto;
            max-width: fit-content;//Marche pas sous Edge
            width: 30%;
            }
            //Effet coin retourné
            &:before{
                 content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 em(10px) em(10px) 0;
  border-style: solid;
  border-color: $bleu-turquoise ;
            }
        }
           
    }
    article.paragraphe-section-europe{
        h3{
            color: $blanc-casse;
            background: $bleu-turquoise;
            @include txt-cesure;
            @include font-size(s);//utilisation de typey
            margin: em(10px) em(20px);
        }
        h4{
            @include font-size(m);//utilisation de typey
            color: $gris-anthracite;
        }
    }

    aside.ficheform-savoirplus{
        
        background-color: $gris-clair;
        
        @include arrondis(1em);
        
    
        a{
            color: $bleu-turquoise;
            text-decoration: none;
        }
        &a:hover{
            text-decoration: underline;
        }
        .views-field-title >span{
            color: $orange-fonce;
            background: $gris-anthracite;
            text-align: center;
            font-weight: bold;
            transform: rotate(-1deg);
            max-width: fit-content;
            display: block;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                margin: 0 0 0 span(5.5);
                padding: span(0.001);
            }
        }
        ul{
            li{
                list-style: square;
                list-style-position: inside;
                @include font-size(s);//utilisation de typey
            }
        }
    }
    aside.lycees-possibles{
        @include backgroundImage("PNG/Fichiers@3x.png", bottom right);
        background-size: contain;
        ul{
            position:relative;
            &::after{
                @include image-overlay('motif_img_overlay.png', 0 0, repeat);
            }
            
            li{
                list-style: none;
                a{
                    &:hover{
                        background: $orange-fonce;
                        color: $gris-anthracite;
                    }
                }
            }
        }
    }
}
#zone-4.fiche-formation{}
#zone-5.fiche-formation{}