// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       CONTENU FICHE FORMATION        |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
#colonne-2.fiche-formation{
    @include breakpoint ($desktop){
        @include border-L-grisclair;
    }
    
}
.fiche-formation
{
    h1.titre-fiche-formation{
        @include decotitre-formation($paddingTop:0.9em);
        color: $orange-fonce;
        
    }
    h2{
        font-size: 1em;
        color: #333333;
        font-weight: bold;
        text-align: left;
        padding: 0.3em;
        line-height: 1.1em;
    }
    h3{
        color: #931B7D;
        font-size: 0.9em;
        margin:em(5px);
    }
    h4{
        color: #01ABCF;
        font-size: em(10px);
    }
    p{
        padding: em(5px);
        
    }
    ul{
        list-style: inside;
        
    }
    img{padding: 0;}
    a{  
        color: #D63E2A;font-weight: inherit;text-decoration: none;
        &:hover{text-decoration: underline;}
    }
    span.field-content-savoir-plus {
    color: #02A7D5;
    font-size: em(14px);
    font-weight: bold;
}
.complement_titre_fiche h3 {
    font-size: em(14px);
    color: #E1017B;
    text-align: right;
}
}

div#colonne-2.fiche-formation{
    @include breakpoint($desktop);@include breakpoint($tablet)
    {
        @include border-L-grisclair;
    }
}