// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               FICHE BTS                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.fiche-bts{order:1;}
    #zone-2.fiche-bts{order:2;}
    #zone-3.fiche-bts{order:3;}
    #zone-4.fiche-bts{}
    #zone-5.fiche-bts{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.fiche-bts{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);
            
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.fiche-bts,
#zone-2.fiche-bts,
#zone-3.fiche-bts,
#zone-4.fiche-bts,
#zone-5.fiche-bts
{
     p,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.fiche-bts{
    #abreviation-bts{
     color: $violet;
    float: right;
    padding: 0 em(5px);
    font-style: italic;
    text-align: right;display: block;margin: em(5px);
}
}
#zone-2.fiche-bts{}
#zone-3.fiche-bts{}
#zone-4.fiche-bts{}
#zone-5.fiche-bts{}