// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       FRONTPAGE INSTITUTIONNEL       |
|--------------------------------------*/

  //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur {
    
    .annonce_1{
        
    }
    .annonce_alaUne{
        h3{//ajout picto en place du titre h3
           display: none;
           @include breakpoint ($desktop){
               display: initial;
            @include backgroundImage (('bg-merci.gif'));
            text-indent: -9000px;
            float: left;
            height: em(80px);
            margin-left: span(0.1);
        }
        }
        ul.actu-brulante{
            list-style: none;
            
            li{
                @include breakpoint ($mobile){
                    width: 95%;
                    margin: 0 0 span(0.2) span(0.2);
                    float: none;
                }
                list-style: none;
                margin: span(0.1) 0 span(0.1) span(0.2);
                float: left;
            }
            .breaking-news-element{
            padding: span(0.005);
            border: em(3px) $orange-fonce solid;
            font-family: $FontRaleway;
            font-size: medium;
            
            text-transform: uppercase;
        }
        a{
            color: $gris-anthracite;
            text-decoration:none;
            
            &:hover{
                color: $gris-clair-moyen;
            }
        }
        }
    }
    .annonce_2{
        ul.badnews{
            list-style: none;
            li{
                @include breakpoint ($desktop){
                    
                    
                    float: none;
                }
                list-style: none;
                width: 95%;
                margin: 0 auto;
                float: none;
                
            }
              .breaking-news{
            padding: span(0.005);
            border: em(3px) $noir solid;
            font-family: $FontRaleway;
            font-size: medium;
            @include backgroundImage(('deuil.png'), no-repeat, top right);//nouvelle mixin 2018

            text-transform: uppercase;
        }
        a{
            color: $gris-clair-moyen;
            text-decoration:none;
            @include breakpoint ($desktop){
            color: $noir;
                        }
            &:hover{
                color: $gris-clair-moyen;
            }
        }
        }
    }
    .HPDiapo{
        a{
            color: white;
            font-family: $FontRaleway;
            font-size: xx-large;
            text-decoration: none;
        }
        img{
            zoom: 1.7;
        }
        .bxslider-hp{
            a{
                padding: 0 0 0 span(0.1);
                display: block;
            }
        }
    }
    .acces_rubriques{}
    .logo_partenaires{}
    
    @include breakpoint($desktop) {/*    //Dimensions pour les pc*/
    //Taille du conteneur du groupe    
  .annonce_1{}
    .annonce_2{}
    .HPDiapo{}
    .acces_rubriques{}
    .logo_partenaires{}

    }
  
    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
          .annonce_1{}
    .annonce_2{}
    .HPDiapo{}
    .acces_rubriques{}
    .logo_partenaires{}
}
}    