// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               PAGE BTS                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.page-bts{order:1;}
    #zone-2.page-bts{order:2;}
    #zone-3.page-bts{order:3;}
    #zone-4.page-bts{}
    #zone-5.page-bts{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.page-bts{
   min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);
            
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
#zone-1.page-bts{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.2);
    }
    aside.node_col_1{
        padding: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(3 of $desktopcol);
            margin-left: span(1 wide);//push
            display: inline-block;
            padding: span(0.01);
        }
    }
    aside.node_col_2{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            float: right;
            width: span(6 of $desktopcol);
            padding: span(0.01);
        }
    }
    #vue-liste-bts{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            margin: span(0.5) 0 0 0;

        }
        ul.liste-bts-centres{
            column-count: 1;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                column-count: 2;
                li{
                    break-inside: avoid-column;
                }
            }
        }
    }
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.page-bts,
#zone-2.page-bts,
#zone-3.page-bts,
#zone-4.page-bts,
#zone-5.page-bts
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }

    aside{
        //FormulaireRWD via Mixin
        @include FormulaireRWD(90%);
        background:$orange-fonce;
        h3{
            color: $blanc-casse;
            @include font-size(m);//utilisation de typey
        }
        .description p{
            @include font-size(s);//utilisation de typey
        }
        p,label{
            color: white;
        }
        input[type="submit"]{
            @include font-size(m);//utilisation de typey
        }
    }


    #vue-liste-bts{
        @include backgroundImage('bg_nav_backoffice.gif',0, repeat );
        padding:  span(0.1) 0;
        .view-header p{
            background: white;
            text-indent: 3vw;
        }
        ul.liste-bts-centres{
            padding: span(0.001) ;
            li{
                list-style: none;
                padding: span(0.001) 0 ;
                margin:0;
                a{
                    display: block;
                    font-weight: bold;
                    padding: span(0.001) span(0.01);
                    max-width: fit-content;
                        font-size: large;
                    color: $violet;
                    &:hover{
                        background: $violet;
                        color: white;
                    }
                }
                span.centre{
                    background: white;
                    
                    white-space: nowrap;
                }
                span.complement-bts{
                    background: white;
                    font-size: small;
                    color: $orange-fonce;
                }
            }
        }
    }
    table.table-bts-coord{
        width: 97%;
        border: em(3px) solid $orange-fonce;
        
        tbody{
            background: $gris-anthracite;
        color:$blanc-casse;
            height: auto;
              margin: span(0.1) 0;
              padding: 0;
              border: none;}
        tr{
            background: none;
            border: none;}
        td{vertical-align: middle;
           border: em(1px) solid $blanc-casse;
           em{
               padding: 0 span(0.01);
           }
        }
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.page-bts{}
#zone-2.page-bts{}
#zone-3.page-bts{}
#zone-4.page-bts{}
#zone-5.page-bts{}