// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               PAGE BTS                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.page-bts{order:1;}
    #zone-2.page-bts{order:2;}
    #zone-3.page-bts{order:3;}
    #zone-4.page-bts{}
    #zone-5.page-bts{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.page-bts{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    
    img{
                    transform: translate(0%,-35%);
        }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-35%);
        }
    }
}
#zone-1.page-bts{
    padding: span(0.2);
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.page-bts,
#zone-2.page-bts,
#zone-3.page-bts,
#zone-4.page-bts,
#zone-5.page-bts
{}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.page-bts{}
#zone-2.page-bts{}
#zone-3.page-bts{}
#zone-4.page-bts{}
#zone-5.page-bts{}