// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}



.vdl-galerie-image .gallery-slides
{
    img{@include adaptable-img;}
}
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    .titre-flex{order:0;}
    #bloc-gauche-pole{}
    #bloc-centre-pole {}
    #bloc-droit-pole {}
    @include breakpoint ($desktop){
        .titre-flex{order:0;max-height: 4em;}
        #bloc-gauche-pole{order:1;}
        #bloc-centre-pole {order:2;}
        #bloc-droit-pole {order:3;}
    }
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur{
    @include breakpoint ($desktop){
        
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.page-pole{
    text-align: center;
      font-family: $AristaFont;
      font-size: x-large;
      color: $violet;
}

/*------------------------------------
        PAGE POLE-FILIERES
_______________________________________*/

.views-field-field-complement-ficheform-value{
    font-size: em(10px);
    margin: 0 auto;
    text-align: center;
    width: em(200px);
}
aside.filiere-techno,aside.filiere-pro,aside.filiere-bts
{
    
    table{
        @include ombrage-bas(0px,3px,1px,#564E4E);
        background: $gris-clair;
        margin: 0 auto;
            }

            tr.even,tr.odd{
                border: 0;
            }
                  
    h3{
        margin: em(5px);
        text-align: center;
        font-family:$AristaFont;
            font-size: medium;
    }
    p{
        font-size: x-small;
    }
a{
    text-decoration: none;
    color: #543F4F;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: em(2px);
    display: block;
    font-size: small;
    &:hover{
    background: $gris-clair-typo;
    @include arrondis(0.6em);
    color: $gris-clair;
    }
}
}
/*Filiere Techno*/
.filiere-techno{

    padding: em(5px);
    h3{
        color: $rose-fushia;
    }
    table{
        border: em(3px) solid $rose-fushia;

    }
    tbody{}
    tr{}
    td{
        padding: em(5px);
        color: $violet;
    }

}



/*Filiere Pro*/
.filiere-pro{
    padding: em(5px);
    h3{
        color: $bleu-turquoise;

    }
    table{
        border: em(3px) solid $bleu-turquoise;
    }
    tbody{}
    tr{}
    td{
        padding: em(5px);
        color: $violet;
    }

}


/*Filiere BTS - Prépas*/
.filiere-bts{
    padding: em(5px);
    h3{
        color: $rose-fushia;

    }
    table{
        border: em(3px) solid $rose-fushia;

    }
    tbody{}
    tr{}
    td{
        padding: em(5px);
        color: $violet;
    }
}
