// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE LISTE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.page-actualites{order:2;}
    #zone-2.page-actualites{order:1;}
    #zone-3.page-actualites{order:3;}
    @include breakpoint ($desktop){
    #zone-1.page-actualites{order:1;}
    #zone-2.page-actualites{order:2;}
    #zone-3.page-actualites{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #zone-2.page-actualites{}
    }
    
}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.page-actualites{
   min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);
            
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-35%);
        }
    }
}
#zone-1.page-actualites{
    >.content{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
    }
    aside.liste-actu-presse{
        div.bef-select-as-radios{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                column-count: 4;
                column-fill: balance;
                white-space: normal;
                padding: span(0.02);
            }
            div.form-item{
                margin: 0 0 span(0.01) 0;   
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    @include  txt-colonnes();

                    padding: span(0.01);
                }
            }
        }
        ul.actu-presse-mur{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                column-count: 6;
                
                column-fill: auto;
                white-space: normal;

            }
            li{
                padding: 0;
                margin: span(0.1) 0;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                
                    @include hack-Edge;
                    @include hack-IE;
                    
                @include  txt-colonnes();
                    margin: 0 0 span(0.1) 0;
                    
                    :not(img):not(a):not(.complement){
                        padding: span(0.1);
                        
                    }

                }
                a{
                    display: block;
                }
            }
        }
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.page-actualites{
    h1.titre_overlay{
        @include titre_overlay();
    }
}
#zone-1.page-actualites,
#zone-2.page-actualites,
#zone-3.page-actualites{
  
}


/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.page-actualites{
   
    aside.liste-actu-presse{
        //Style du filtrage de la vue
        div.bef-select-as-radios{
            
        }
    }
}
#zone-2.page-actualites{

}



/*------------------------
BLOC FLUX RSS ACTU DE L'ASSO
-----------------------------*/
#block-aggregator-feed-1{
    h3{
        color: $rose-fushia;
        font-family: $AristaFont;
        padding: 5px;
        text-align: center;
        font-size: large;
    }
    ul{
        list-style: none;
        background:  url(../images/bg_doc_utile_rp.jpg) repeat left top ;
        margin: 0 auto;
        width: 85%;
        padding: em(20px) 0;
        @include arrondis (em(10px));
        position: relative;
    }
    ul li{
        margin: em(5px) 0;
        list-style: none;

    }
    li a{
        text-decoration: none;
        padding: 2px;
        display: block;
        @include arrondis (em(5px));
        position: relative;
        width: 85%;
        margin: 0 auto;
        color: white;
        background: $rose-fushia;
        &:hover{
            background: white;
            color: $rose-fushia;
            text-decoration: none;
        }
    }

} 



#zone-3.page-actualites{
 
}