// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|             PAGE ESPACE                   |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.page-espace{order:1;}
    #zone-2.page-espace{order:2;}
    #zone-3.page-espace{order:3;}
    #zone-4.page-espace{}
    #zone-5.page-espace{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.page-espace{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
aside.contenu-rubrique{
    padding:span(0.2) 0;
    li{
        display: table;
        margin: span(0.2) 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-width: 95%;
        }
        img{
            /*float: left;*/
        }
    }
    .rubrique-lycees,.rubrique-association{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: nowrap;
            padding: span(0.1);

        }
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.page-espace{
    h1.titre_overlay{
        @include titre_overlay();
    }
}


#zone-1.page-espace,
#zone-2.page-espace,
#zone-3.page-espace,
#zone-4.page-espace,
#zone-5.page-espace
{}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.page-espace{
    aside.contenu-rubrique{
        .rubrique-lycees{
            ul{
                //Classes dynamiques attribuées par le titre dans la vue
                li{
                    &.Rostand{
                        background: $rouge;
                    }
                    &.Célony{
                        background: $vert;
                    }
                    &.Rocher{
                        background: $violet;
                    }
                    &.Gasquet{
                        background: $rose-fushia;
                    }
                    &.Caucadis{
                        background: $gris-clair-moyen;
                    }
                    &.Brise-Lames{
                        background: $bleu-turquoise;
                    }
                    &.Grawitz{
                        background: $orange;
                    }
                }

                //Style général des éléments  
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include cesure-txt();

                    a{
                        color: $blanc-casse;
                        text-decoration: none;
                        font-weight: bold;
                        @include font-size(l);//utilisation de typey
                        
                    }
                    span{
                        color: $blanc-casse;
                        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        max-width: 30%;
                        display: block;
                        float: left;
                        }
                    }
                    div{
                        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        /*display: inline-block;*/
                        float: left;
                        content: "";  
                        padding: 0 span(0.01) 0 0;
                        }
                    }
                    div > a > img.imagecache{
                        content: "";  
                        position: relative;
                        &:after,&:before
                            { /* add the transparent pattern overlay */
                            background: url(http://via.placeholder.com/350x150) center repeat pink;
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            top: 0;
                            opacity: 0.7;
                            z-index: -1;
                        }
                    }

                }
            }
        }
        .rubrique-association{
            ul{
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include cesure-txt(); 
                }
                a{
                    color: $blanc-casse;
                    text-decoration: none;
                    font-weight: bold;
                    @include font-size(l);//utilisation de typey
                    padding: 0 0 0 span(0.01);
                }
                span{
                    color: $blanc-casse;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                             max-width: span(3);
                        display: block;
                        /*float: left;*/
                    }
                    }
                //Float de la div contenant l'image,structure HTML différente de page lycées 
                li > div{
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    float: right;
                    }
                }
            }
        }
    }
}
#zone-2.page-espace{}
#zone-3.page-espace{}
#zone-4.page-espace{}
#zone-5.page-espace{}