// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|             PAGE ESPACE                   |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.page-espace{order:1;}
    #zone-2.page-espace{order:2;}
    #zone-3.page-espace{order:3;}
    #zone-4.page-espace{}
    #zone-5.page-espace{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.page-espace{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
aside.selecteur-langue{
    ul{
        padding: 0;
        li{
            a{
                padding: 0 0 0 em(10px);
            }
        }
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        ul{
            column-count: 2;
            column-rule: 0;
            
            li{
                max-width: 100%;
            }
        }
    }
}
aside.contenu-rubrique{
    padding:span(0.2) 0;
    margin:0;
    ul{
    margin:0;
    
    }
    li{
        display: table;
        margin: 0 0 span(0.2) 0;
        padding: span(0.2) 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-width: 95%;
        }
        img{
            /*float: left;*/
        }
    }
    .rubrique-lycees,.rubrique-association,.rubrique-international{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
            li{
                @include  txt-colonnes();
                    span{
                        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                            max-width: span(1);

                        }
                        @include breakpoint($desktop){
                            max-width: 7vw;
                        }
                        @include breakpoint($desktopwide){
                            max-width: 10vw;
                            padding: 0 0 0 span(0.01);
                        }

                    }
                a{
                    display: inherit;
                }
            }
        }
    }
    .rubrique-international{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
               white-space: unset;
        }
    }
}
aside.nav-espace-entreprise,aside.nav-espace-partenaire{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 4;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
        ul{
            list-style: none;
        }
}
.espace-accueillir-jeune,.espace-devenir-partenaire,.espace-taxe-apprentissage,.espace-vie-lycees{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            float: left;
            max-width: 25%;
            padding: span(0.1);
        }
    
}
.part-institutionnels{
    ul{
        li{
            list-style: none;
                margin: 1em auto;
    padding: 0;
        }
    }
    
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
           
        ul{
            column-count: 6;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
            display: block;
            @include clearfixsusy3;
            
            li{
                @include txt-cesure;
               @include txt-colonnes;
                @include hack-Edge;
                @include hack-IE;
                margin: 0;
                padding: 0;
                a{
                    clear: left;
                    display: block;
                }
            }
        }
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.page-espace{
    h1.titre_overlay{
        @include titre_overlay();
    }
}


#zone-1.page-espace,
#zone-2.page-espace,
#zone-3.page-espace,
#zone-4.page-espace,
#zone-5.page-espace
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $orange-fonce;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.page-espace,#zone-1.contenu-international{
    aside.selecteur-langue{
        ul{
            list-style: none;
            background: $gris-anthracite;
            li{
                
                &.fr{
                    @include backgroundImage("SVG/flag-france.svg");
                    background-size: cover;
                    background-position: 0 40%;
                }
                &.en{
     
                    @include backgroundImage("SVG/union-jack.svg");
                    background-size: cover;
                    background-position: 0 75%;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                &:hover{

                }
                &.active{
                    font-weight: bold;
                    /*background: $gris-anthracite;*/

                    a{

                        &.active{
                            color: $blanc-casse;
                        }
                    }

                }
                a{
                    color:$jaune;

                }
            }
        }

        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        }
    }
    aside.contenu-rubrique{
        .rubrique-lycees{
            ul{
                //Classes dynamiques attribuées par le titre dans la vue
                li{
                    &.Rostand{
                        background: $rouge;
                    }
                    &.Célony{
                        background: $vert;
                    }
                    &.Rocher{
                        background: $violet;
                    }
                    &.Gasquet{
                        background: $rose-fushia;
                    }
                    &.Caucadis{
                        background: $gris-clair-moyen;
                    }
                    &.Brise-Lames{
                        background: $bleu-turquoise;
                    }
                    &.Grawitz{
                        background: $orange;
                    }
                }

                //Style général des éléments  
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include txt-cesure();

                    a{
                        color: $blanc-casse;
                        text-decoration: none;
                        font-weight: bold;
                        @include font-size(l);//utilisation de typey

                    }
                    span{
                        color: $blanc-casse;
                        @include txt-cesure();
                        display: inline-block;
                        float: left;
      

                    }
                    div{
                        position: relative;
                        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                            max-width: 70%;
                            float: left;
                            content: "";  

                        }
                        a{
                            &:before{

                                @include image-overlay('motif_img_overlay.png', 0 0, repeat);
                                
                            }


                        }

                    }

                }
            }
        }
        .rubrique-association,.rubrique-international{
            ul{
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include txt-cesure(); 
                }
                a{
                    color: $blanc-casse;
                    text-decoration: none;
                    font-weight: bold;
                    @include font-size(l);//utilisation de typey
                    @include txt-ellipse();
                    display: block;
                }

                span{
                    color: $blanc-casse;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        
                        /*padding: span(0.1);*/
                        display: inline-block;
                        @include txt-cesure();
                        /*float: left;*/
                    }
                }
                img{
                    &:hover{

                    }
                }
                //Float de la div contenant l'image,structure HTML différente de page lycées 
                li > div{
                    position: relative;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        float: right;
                        padding: 0;
                        max-width: 70%;
                    }
                    a {
                        &:before{

                            @include image-overlay('motif_img_overlay.png', 0 0, repeat);
                            @include adaptable-img;
                        }
                        &:hover{
                            background: none;
                        }
                    }
                }
            }
        }
   .rubrique-international{
       //réglages différents pour page Europe/International
            ul{
                li{
                    background: $bleu-turquoise;
                }
            }
        }
        //**** liste contenu alternance ***//
        ul.acces-contenus-alternance{
            //classes dynamique attribuées dans la vue
            li.page-offre-contrat-pro{
                background: $gris-anthracite;
            }
            li.page-bts{}
        }

    }
    
    //Style propre pour listes espace entreprise
    .espace-accueillir-jeune,.espace-devenir-partenaire,.espace-taxe-apprentissage,.espace-vie-lycees{
      ul{
           
            li{
                 list-style: none;
                 margin:0 0 span(0.01) span(0.1);
                a{
                    text-decoration: none;
                    color:$gris-anthracite;
                    font-size: large;
                    display:block;
                    padding: span(0.1);
                   // &:hover{color: inherit;}
                }
            }
        }
    }
    .espace-devenir-partenaire{
        ul{

            li{

                a{
                    background:$gris-clair;
                        &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-accueillir-jeune{
        ul{

            li{

                a{
                     color:$gris-clair;
                     background:$gris-clair-moyen;
                    &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-taxe-apprentissage{
        ul{

            li{

                a{
                        background:$gris-clair;
                        &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-vie-lycees{
        ul{

            li{

                a{
                     color:$gris-clair;
                     background:$gris-clair-moyen;
                    &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    
    //Style page Espace Partenaire
    aside.espace-partenaire{
        border-bottom: em(5px) $orange-fonce dotted;
        h3{
            color: $rose-fushia;
        @include font-size(l);//utilisation de typey
        }
        ul{
            li{
                  background: $gris-clair;
                  
                &:hover{
                    @include ombrage-bloc(0,0,1em);
                }
            }
        }
    }
}
#zone-2.page-espace{}
#zone-3.page-espace{}
#zone-4.page-espace{}
#zone-5.page-espace{}