// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM                |
|               NODE.TPL                      |
|               PAGE ARCHIVE              |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
        #colonne-2.page-archive{
          @include border-L-rose;
        }
    }

}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_archives{
    color: $rose-fushia;
}

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.page-archive,
#colonne-2.page-archive,
#colonne-3.page-archive
{
    #archives{
               /*Liste des archives*/
        table{
            width: 98%;
            margin: 0 auto;
            border: 0;
        }
        tbody{}
        tr{
            background: $gris-clair;
            background-color: $gris-clair;
            display: block;
            margin: em(2px) 0;
            border: 0;
            &:hover{
                background: #EFA0CA;   
                border-right: $rose-fushia solid em(2px);

            }
        }

        img{
            border: $violet solid em(1px);
            float: right;
            margin: em(2px) em(4px);
            padding: em(2px);
        }
        tr a{
            color: $rose-fushia;
            text-decoration: none;
            padding: em(2px);
            font-weight: bold;
            &:hover{
                color: white;
                
            }
        }
        td{
            padding:em(2px) 0;
            display: inline-block;
            width: 100%;
            border: 0;
            &:hover{
                
            }
            span{
                font-size: small;
            }
        }

        .views-field-tid{
            text-align: right;
            font-size: x-small;
            font-style: italic;

        }
    }
     /*Bloc filtre exposé archives*/
        .archives-exposed{
            width: 95%;
            margin: 0 auto;
            .views-widget-filter-field_date_evenement_value{
                width: 35%;
            }
            .views-exposed-widgets{
                width: inherit;
                padding: em(5px);
                margin: em(5px);
                background: $gris-clair;
                border: $rose-fushia solid em(2px);
                label{
                    font-size: x-small;
                }
            }

        }

}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#colonne-1.page-archive{}
#colonne-2.page-archive{
    ul.pager{
        a{
            color: $rose-fushia;
            text-decoration: none;
            &:hover{
                color: $violet;
            }

        }
      li  a:active{
            color: $violet;
            font-weight: bold;
        }
    }
    .actuGlobale-archives{
   text-align: center;
}
.actuGlobale-archives a{
    font-size: small;
    color: $violet;
    margin: em(5px);
    font-family:$AristaFont;
    &:hover{}
}

}
#colonne-3.page-archive{}
